*{
    margin: 0;
    padding: 0;
}

.Block{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-size: cover;
    display: inline-block;
}
.mark2{
    background: url('images/dot.png') no-repeat;
    background-size: 100px 100px;
    background-position: center;
    
}
.mark1{
    background: url('images/cross.png') no-repeat;
    background-position: center;
    background-size: 50px 50px;
}